.c-badge {
  position: absolute;
  color: $white;
  border-top: 40px solid $main-color;
  border-right: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid $main-color;
  z-index: 1;
  @include mq() {
    border-top: 30px solid $main-color;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid $main-color;
  }
  &__sold {
    position: absolute;
    z-index: 2;
    top: -27px;
    left: -32px;
    transform: rotate(-45deg);
    font-weight: bold;
    @include mq() {
      font-size: $font-size_s;
      top: -20px;
      left: -26px;
    }
  }
}
