.c-badge {
  position: absolute;
  //background: $red;
  color: $white;
  border-top: 40px solid $main-color;
  border-right: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid $main-color;
  z-index: 1;
  &__sold {
    position: absolute;
    z-index: 2;
    top: -27px;
    left: -32px;
    transform: rotate(-45deg);
    font-weight: bold;
  }
}
