.c-btn {
  display: block;
  background: $main-color;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 2px 0 #dcdcdc;
  font-size: $font-size_m;
  width: 125px;
  height: 35px;
  padding: $space_s $space_m;
  &:hover {
    cursor: pointer;
    opacity: .8;
    transition: .3s;
    text-decoration: none;
    color: #fff;
    box-shadow: none;
    position: relative;
    top: 2px;
  }
  &__twitter {
    display: inline-block;
    background: #00acee;
    color: white;
  }
  &--white {
    color: $font-color;
    background: $white;
    border: 1px solid $gray-color;
    &:hover {
      color: $font-color;
    }
  }
}
