.c-pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: $space_3xl;
  &__block {
    border: 1px solid #ddd;
    padding: 6px 12px;
    text-align: center;
    & + & { // 隣接セレクタを使用して隣接するボックスの左側のボーダーを削除
      border-left: none;
    }
    &:hover {
      cursor: pointer;
      background: rgba(0,0,0,.05);
      transition: .3s;
    }
  }
  &--active {
    background-color: $main-color;
    color: $white;
    &:hover {
      background: $main-color;
    }
  }
  &--inactive {
    color: $main-color;
    background-color: $white;
  }
}
