.c-pagination {
  font-weight: bold;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: $space_3xl;
  &:hover {
    cursor: pointer;
  }
  &__block {
    border: 1px solid #ddd;
    padding: 6px 12px;
    text-align: center;
  }
  &--active {
    background-color: $main-color;
    color: $white;
  }
  &--inactive {
    color: $main-color;
  }
}
