.c-select {
  height: 36px;
  display: block;
  border: 1px solid $gray-color;
  border-radius: 3px;
  background: $white;
  outline: none;
  padding: $space_s $space_m;
  resize: none;
  &__err {
    border: 1px solid $error-color;
    background: $error-color-bg;
  }
}
