.p-authForm {
  position: relative;
  background: $white;
  width: 440px;
  margin: 40px auto 0;
  padding: $space_xl;
  @include mq() {
    width: 100%;
    padding: $space_m;
    margin-top: $space_2xl;
  }
  &__group {
    position: absolute;
    display: flex;
    top: -40px;
    left: 0;
    @include mq() {
      left: $space_m;
    }
    &__item {
      padding: 3px 5px;
      color: $gray-color;
      border-bottom: 3px solid $gray-color;
      margin-right: $space_m;
      &--active {
        color: $font-color;
        border-bottom: 3px solid $main-color;
        font-weight: bold;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__title {
    margin-bottom: $space_xl;
    @include mq() {
      margin-bottom: $space_m;
    }
  }
  &__form {
    width: 100%;
  }
  &__label {
    margin: $space_xl 0 $space_s 0;
  }
  &__input {
    width: 100%;
  }
  &__checkContainer {
    margin-top: $space_xl;
  }
  &__check {
    width: 20px;
    height: 20px;
    margin-right: $space_s;
  }
  &__agreement {
    color: $link-color;
    border-bottom: 1px solid $link-color;
    padding-bottom: 1px;
  }
  &__btn {
    width: 100%;
    margin-top: $space_2xl;
    margin-bottom: $space_xl;
  }
  &__uLine {
    margin-top: $space_m;
    margin-bottom: $space_m;
    border-top: 1px solid $gray-color;
  }
}
