.p-edit-profile {
  width: 100%;
  @include mq() {
    width: 100%;
  }
  @include mq('tab') {
    padding-right: $space_xl;
  }
  &__title {
    background: $bg-color;
    padding-bottom: $space_s;
  }
  &__background {
    background: $white;
  }
  &__form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: $space_xl;
    @include mq() {
      width: 100%;
      padding: $space_m;
    }
    @include mq('tab') {
      width: 80%;
    }
  }
  &__label {
    margin-top: $space_xl;
    margin-bottom: $space_s;
    &-img {
      display: block;
      width: 100%;
      height: 296px;
      border-radius: 50%;
      background: $img-color-bg;
      &__err {
        border: 1px solid $error-color;
      }
      &:hover {
        cursor: pointer;
      }
      @include mq() {
        //width: 250px;
        height: 250px;
        //margin: 0 auto;
      }
      @include mq('tab') {
        width: 350px;
        height: 350px;
        margin: 0 auto;
      }
    }
  }
  &__img {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
    &-text {
      font-size: $font-size_l;
      color: #999;
      //親要素の上下中央に要素を配置する
      //======================================
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      //========================================
    }
  }
  &__hasImg {
    display: block;
  }
  &__output {
    width: 100%;
    height: 100%;
    &-img {
      display: block;
      vertical-align: middle;
      border-style: none;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  &__input {
    width: 100%;
  }
  &__btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: $space_xl;
  }
  &__btn {
    &--back {
      margin-right: $space_m;
    }
  }
}
