.p-index {
  padding-right: $space_xl;
  @include mq() {
    padding-right: initial;
  }
  &__sort-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: -19px;
    margin-bottom: $space_xl;
    @include mq() {
      width: 100%;
      padding-right: $space_m;
      padding-left: $space_m;
      flex-wrap: wrap;
      font-size: $font-size_s;
    }
    @include mq('tab') {
      width: 100%;
      flex-wrap: wrap;
    }
  }
  &__search {
    @include mq() {
      width: 100%;
      margin-bottom: $space_s;
    }
    @include mq('tab') {
      width: 100%;
      margin-bottom: $space_s;
    }
  }
  &__sort {
    @include mq() {
      width: 50%;
      padding-right: $space_s;
    }
    @include mq('tab') {
      width: 50%;
      padding-right: $space_m;
    }
  }
  &__select-category {
    @include mq() {
      width: 50%;
      padding-left: $space_s;
    }
    @include mq('tab') {
      width: 50%;
      padding-left: $space_m;
    }
  }
  &__label {
    font-weight: bold;
    &:last-child {
      margin-left: $space_m;
    }
    @include mq() {
      display: block;
      margin-bottom: $space_s;
    }
    @include mq('tab') {
      display: block;
      margin-bottom: $space_s;
    }
  }
  &__select {
    border: 1px solid $gray-color;
    outline: none;
    border-radius: 3px;
    width: 150px;
    background: $white;
    padding: $space_s;
    @include mq() {
      width: 100%;
    }
    @include mq('tab') {
      width: 100%;
    }
  }
  &__product-container {
    width: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: $space_xl;
    padding-right: $space_xl;
    position: relative;
    @include mq() {
      grid-template-columns: 50% 50%;
      padding-left: $space_m;
      gap: $space_m;
    }
    @include mq('tab') {
      grid-template-columns: 50% 50%;
    }
    @include mq('mon') {
    }
  }
}
