.p-mypage {
  width: 100%;
  @include mq() {
    padding-right: $space_m;
    padding-left: $space_m;
  }
  &__titleContainer {
    display: flex;
    align-items: center;
    margin-bottom: $space_s;
  }
  &__title {
    margin-right: $space_l;
  }
  &__link {
    display: inline-block;
    color: $main-color;
  }
  &__noProduct,
  &__noReview {
    margin-top: $space_3xl;
    margin-bottom: $space_3xl;
    text-align: center;
  }
  &__cardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: $space_xl;
    margin-bottom: $space_3xl;
    padding-right: $space_3xl;
    @include mq() {
      grid-template-columns: 50% 50%;
      padding-right: $space_m;
      gap: $space_m;
      margin-bottom: $space_2xl;
    }
    @include mq('tab') {
      grid-template-columns: 50% 50%;
      gap: $space_l;
      padding-right: $space_2xl;
    }
    &--review {
      width: 80%;
      display: grid;
      grid-template-columns: 50% 50%;
      gap: $space_m;
      padding-right: 12px;
      @include mq() {
        width: 100%;
      }
      @include mq('tab') {
        width: 100%;
        gap: $space_xl;
        padding-right: $space_3xl;
      }
    }
  }
}
