.p-policy {
  width: 100%;
  margin: 0 auto;
  @include mq() {
    padding-left: $space_m;
    padding-right: $space_m;
  }
  &__title {
    font-weight: bold;
    text-align: center;
    margin-bottom: $space_3xl;
    @include mq() {
      font-size: $font-size_default;
      margin-bottom: $space_m;
    }
    @include mq('tab') {
      margin-bottom: $space_xl;
    }
  }
  &__subTitle {
    font-weight: bold;
  }
}
