.p-product {
  width: 100%;
  position: relative;
  &__img-container {
    position: relative;
  }
  &__img {
    display: block;
    height: 140px;
    width: 100%;
    border-radius: 3px;
    @include mq() {
      height: 100px;
    }
  }
  &__heart {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: $font-size_l;
    background: rgba(255,255,255,.5);
    padding: $space_s $space_m;
    @include mq() {
      font-size: $font-size_m;
      padding: 3px 8px;
    }
  }
  &__cancel {
    padding: 3px $space_xl;
    background: $img-color-bg;
    position: absolute;
    top: 5px;
    right: 0;
    border-radius: 5px 0 0 5px;
    @include mq() {
      padding: 3px $space_l;
    }
  }
  &__card-body {
    padding: $space_s;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__name {
    font-weight: bold;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1; //1行に丸める
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include mq() {
      font-size: $font-size_s;
    }
  }
  &__flex {
    display: flex;
    align-items: center;
  }
  &__price {
    font-weight: bold;
    @include mq() {
      font-size: $font-size_s;
      text-align: right;
      margin: 0;
    }
  }
  &__expire {
    margin-bottom: $space_s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq() {
      font-size: $font-size_s;
    }
    &__date {
      font-weight: bold;
      font-size: 20px;
      @include mq() {
        font-size: $font-size_m;
      }
    }
  }
  &__user-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size_m;
    @include mq() {
      font-size: $font-size_xs;
    }
    &--right {
      width: 75%;
    }
  }
  &__icon {
    width: 40px;
    height: 40px;
    @include mq() {
      width: 35px;
      height: 35px;
    }
    @include mq('tab') {
      width: 50px;
      height: 50px;
      margin-right: $space_s;
    }
  }
  &__usr-name {
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__date {
    font-size: $font-size_s;
    @include mq() {
      font-size: $font-size_xs;
    }
  }
  &__category {
    font-size: $font-size_s;
    border: 1px solid $gray-color;
    border-radius: 20px;
    padding: $space_s;
    min-width: 80px;
    text-align: center;
    @include mq() {
      font-size: $font-size_xs;
      padding: 2px 4px;
    }
  }
  &__btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: $space_m;
  }
  &__btn {
    width: 100%;
    z-index: 2;
  }
}
