.p-product-detail {
  width: 680px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
    padding-left: $space_m;
    padding-right: $space_m;
  }
  @include mq('tab') {
    width: 500px;
  }
  &__img {
    height: 400px;
    width: 100%;
    display: block;
    margin: 0 auto $space_2xl auto;
    @include mq() {
      height: 250px;
      margin-bottom: $space_m;
    }
    @include mq('tab') {
      height: 300px;
      margin-bottom: $space_xl;
    }
  }
  &__category {
    position: absolute;
    color: $white;
    letter-spacing: .05em;
    background: $sub-color;
    padding: 5px 30px;
    border-radius: 20px;
    top: 15px;
    right: 15px;
    font-weight: bold;
    @include mq() {
      padding: 3px 10px;
      top: 10px;
      right: 10px;
    }
    @include mq('tab') {
      font-size: $font-size_m;
      padding: $space_s $space_m;
    }
  }
  &__name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $space_xl;
  }
  &__product-name {
    font-size: $font-size_xl;
    font-weight: bold;
    @include mq() {
      font-size: initial;
    }
    @include mq('tab') {
      font-size: $font-size_l;
    }
  }
  &__price {
    font-size: $font-size_xl;
    font-weight: bold;
    @include mq() {
      font-size: initial;
    }
    @include mq('tab') {
      font-size: $font-size_l;
    }
  }
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $space_xl;
    @include mq() {
      display: block;
    }
    @include mq('tab') {
      display: block;
    }
  }
  &__expire {
    font-weight: bold;
    text-align: right;
    margin-bottom: $space_xl;
    &__date {
      font-weight: bold;
      font-size: $font-size_2xl;
      @include mq() {
        font-size: $font-size_m;
      }
    }
  }
  &__user-info {
    display: flex;
    align-items: center;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    @include mq() {
      margin-bottom: $space_m;
    }
    @include mq('tab') {
      margin-bottom: $space_xl;
    }
  }
  &__icon {
    margin-right: $space_m;
    @include mq() {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  &__shop-name {
    margin-right: $space_m;
    @include mq() {
      display: inline-block;
    }
  }
  &__branch {
    @include mq() {
      display: inline-block;
    }
  }
  &__date {
    @include mq() {
      display: inline-block;
      font-size: $font-size_m;
      text-align: right;
    }
  }
  &__btn-container {
    display: flex;
    align-items: center;
    @include mq() {
      width: 100%;
    }
    @include mq('tab') {
      width: 100%;
      justify-content: flex-end;
    }
  }
  &__btn {
    @include mq() {
      width: 50%;
      font-size: $font-size_s;
    }
    &--like {
      width: 160px;
      border-radius: 20px;
      margin-right: $space_l;
      @include mq() {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-right: $space_m;
        width: 50%;
      }
    }
    &--review,
    &--delete {
      margin-right: $space_xl;
      padding-top: 7px;
      @include mq() {
        margin-right: $space_m;
      }
      @include mq('tab') {
        margin-right: $space_l;
      }
    }
  }
  //&__before-buy {
  //  text-align: center;
  //  margin-bottom: $space_xl;
  //  @include mq() {
  //    font-size: $font-size_s;
  //  }
  //}
  &__detail {
    line-height: 2;
    letter-spacing: .05em;
    background: $white;
    padding: $space_l;
    @include mq() {
      padding: $space_m;
    }
  }
  &__twitter-container {
    text-align: right;
    margin-top: $space_l;
  }
  &__title {
    margin-top: $space_xl;
    margin-bottom: $space_m;
    text-align: left;
    @include mq() {
      margin-bottom: $space_s;
      font-size: $font-size_m;
    }
  }
  &__products-container {
    width: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: $space_l;
    padding-right: $space_2xl;
    position: relative;
    @include mq() {
      grid-template-columns: 50% 50%;
      padding-right: $space_m;
      gap: $space_m;
    }
    @include mq('tab') {
      grid-template-columns: 50% 50%;
      padding-right: $space_xl;
      gap: $space_xl;
    }
    @include mq('mon') {
    }
  }
  &__go-top {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    background: #ddd;
    position: fixed;
    bottom: 60px;
    right: 60px;
    @include mq() {
      bottom: 20px;
      right: 20px;
    }
  }
}
