.p-product {
  width: 100%;
  position: relative;
  &__img {
    display: block;
    height: 120px;
    width: 100%;
    @include mq() {
      height: 80px;
    }
  }
  &__card-body {
    padding: $space_m;
    @include mq() {
      padding: $space_s;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__name {
    font-weight: bold;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1; //1行に丸める
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include mq() {
      font-size: $font-size_m;
    }
  }
  &__flex {
    display: flex;
    align-items: center;
  }
  &__price {
    font-weight: bold;
    @include mq() {
      font-size: $font-size_s;
      width: 100%;
      margin: 0;
    }
  }
  &__expire {
    margin-bottom: $space_s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__date {
      font-weight: bold;
      font-size: 20px;
    }
  }
  &__user-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size_m;
    @include mq() {
      font-size: $font-size_xs;
    }
    &--right {
      width: 75%;
    }
  }
  &__icon {
    width: 40px;
    height: 40px;
    margin-right: $space_s;
    @include mq() {
      width: 25px;
      height: 25px;
    }
  }
  &__usr-name {
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include mq() {
      width: 60px;
    }
  }
  &__date {
    margin-right: $space_m;
    font-size: $font-size_s;
  }
  &__category {
    font-size: $font-size_s;
    border: 1px solid $gray-color;
    border-radius: 20px;
    padding: 0 $space_s;
    @include mq() {
      font-size: $font-size_xs;
      padding: 2px $space_s;
    }
  }
}
