.p-review-detail {
  width: 680px;
  margin: 0 auto;
  background: $white;
  padding: $space_xl;
  position: relative;
  &__user-info {
    display: flex;
    align-items: center;
    margin-bottom: $space_xl;
  }
  &__image {
    width: 80px;
    height: 80px;
    margin-right: $space_xl;
  }
  &__recommend {
    font-weight: bold;
    border-radius: 3px;
    background: $sub-color;
    color: $white;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: $space_s $space_m;
  }
  &__review-title {
    font-weight: bold;
    margin-bottom: $space_m;
  }
  &__other-container {
    width: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: $space_l;
    padding-right: $space_2xl;
    position: relative;
  }
}
