.p-review {
  width: 100%;
  min-height: 277px;
  padding: $space_m;
  @include mq() {
    min-height: 196px;
    padding: $space_s;
  }
  @include mq('tab') {
    min-height: 260px;
  }
  &__user-info {
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: $space_m;
    @include mq() {
      width: 40px;
      height: 40px;
    }
  }
  &__name {
    font-weight: bold;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1; //1行に丸める
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__recommendation {
    font-size: $font-size_s;
    font-weight: bold;
    padding: 0 $space_s;
    border-radius: 3px;
    background: $sub-color;
    color: $white;
    max-width: 98px;
    text-align: center;
    @include mq() {
      font-size: $font-size_xs;
      max-width: 84px;
    }
  }
  &__review-title {
    margin-top: $space_s;
    margin-bottom: $space_m;
    font-weight: bold;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1; //1行に丸める
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include mq() {
      margin-bottom: $space_s;
    }
  }
  &__detail {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 6; //6行に丸める
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 154px;
    @include mq() {
      min-height: 112px;
      -webkit-line-clamp: 5; //5行に丸める
    }
    @include mq('tab') {
      min-height: 140px;
      -webkit-line-clamp: 5; //5行に丸める
    }
  }
}
