.p-review-form {
  width: 500px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
  &__title {
    background: $bg-color;
    padding-bottom: $space_s;
  }
  &__background {
    background: $white;
  }
  &__form {
    width: 100%;
    position: relative;
    padding: $space_xl;
    @include mq() {
      padding: $space_m;

    }
  }
  &__user-info {
    display: flex;
    align-items: center;
    margin-bottom: $space_xl;
    @include mq() {
      margin-bottom: $space_m;
    }
  }
  &__icon {
    margin-right: $space_m;
  }
  &__fa {
    font-size: $font-size_xl;
    @include mq() {
      padding-top: 3px;
      font-size: $font-size_l;
      display: inline-block;
    }
  }
  &__user-name {
    font-size: $font-size_l;
  }
  &__recommendation {
    &__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      line-height: 2;
      & input:checked + label {
        border: none;
        background: $sub-color;
        color: $white;
        font-weight: bold;
      }
      @include mq() {
        margin-top: $space_s;
      }
    }
    &__label {
      display: block;
      width: 32%;
      background: $white;
      border: 1px solid $gray-color;
      border-radius: 3px;
      box-shadow: 0 2px 0 #dcdcdc;
      font-size: $font-size_m;
      padding: $space_s;
      text-decoration: none;
      @include mq() {
        padding: 3px;
      }
      &:hover {
        box-shadow: none;
        position: relative;
        top: 2px;
        transition: .3s;
      }
    }
    &__input {
      display: none;
    }
  }
  &__label {
    margin: $space_xl 0 $space_s 0;
  }
  &__input {
    width: 100%;
    &__err {
      border: 1px solid $error-color;
      border-left: 0;
      background: $error-color-bg;
    }
    @include mq() {
    }
  }
  &__text {
    @include mq() {
      font-size: $font-size_xs;
      font-weight: bold;
    }
  }
  &__textarea {
    width: 100%;
    height: 200px;
    @include mq() {
    }
  }
  &__btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: $space_2xl;
    @include mq() {
      margin-top: $space_xl;
    }
  }
  &__btn {
    margin-left: $space_l;
    &:first-child {
      margin-left: initial;
    }
    @include mq() {
      width: 50%;
    }
    &--post {
      margin-left: auto;
    }
    &--delete {
      //margin: $space_2xl $space_m 0 0;
    }
    &--update {
      //margin: $space_2xl 0 0 0;
    }
  }
}
