.p-review-detail {
  width: 680px;
  margin: 0 auto;
  background: $white;
  padding: $space_xl;
  position: relative;
  @include mq() {
    width: 100%;
    padding-left: $space_m;
    padding-right: $space_m;
  }
  &__btn {
  }
  &__user-info {
    display: flex;
    align-items: center;
    margin-bottom: $space_xl;
    position: relative;
  }
  &__image {
    width: 80px;
    height: 80px;
    margin-right: $space_xl;
  }
  &__recommend {
    font-weight: bold;
    border-radius: 20px;
    background: $sub-color;
    color: $white;
    position: absolute;
    top: 20px;
    right: 0;
    padding: $space_s $space_m;
    @include mq() {
      width: 125px;
      text-align: center;
      top: 135px;
      left: 10px;
    }
  }
  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: $space_m;
  }
  &__review-title {
    font-weight: bold;
    margin-right: $space_m;
    word-break: break-all;
    @include mq() {
      font-size: $font-size_default;
    }
  }
  &__detail {
    word-break: break-all;
  }
  &__product-container {
    width: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: $space_l;
    padding-right: $space_2xl;
    position: relative;
    @include mq() {
      grid-template-columns: 50% 50%;
      padding-right: $space_m;
      gap: $space_m;
    }
  }
}
