.p-sidebar {
  border-radius: 3px;
  background: $white;
  position: relative;
  margin-top: 35px;
  @include mq() {
    margin-top: $space_xl;
    padding-top: $space_s;
    padding-bottom: $space_s;
  }
  &--mypage {

  }
  &__link {
    background: #fff;
    text-align: left;
    width: 100%;
    display: block;
    font-size: $font-size_l;
    font-weight: bold;
    color: $font-color;
    padding: $space_l;
    padding-left: 25px;
    border-left: 5px solid transparent;
    @include mq() {
      font-size: $font-size_m;
      text-align: center;
      padding: $space_m $space_xl;
    }
    @include mq('tab') {
      font-size: $font-size_m;
      padding-left: $space_l;
    }
    &:hover {
      color: $font-color;
      background: rgba(0,0,0,.05);
      transition: .3s;
    }
    &--active {
      color: $font-color;
      background: rgba(0,0,0,.05);
      border-left: 5px solid $main-color;
      @include mq() {
        border: 1px solid $main-color;
      }
    }
  }
}

.p-sidebar-index {
  width: 100%;
  background: $white;
  padding: $space_xl;
  @include mq() {
    padding: $space_m;
    margin-top: $space_l;
  }
  @include mq('tab') {
    margin-top: 73px;
    padding: $space_l;
  }
  &__clear-filter {
    width: 100%;
    margin-bottom: $space_xl;
    @include mq() {
      margin-bottom: $space_m;
    }
  }
  &__search {
    margin-bottom: $space_xl;
    position: relative;
    @include mq() {
      margin-bottom: $space_m;
    }
  }
  &__search-icon {
    position: absolute;
    right: 35px;
    top: 42px;
    font-size: $font-size_l;
    color: $main-color;
    @include mq() {
      top: 35px;
    }
    @include mq('tab') {
      top: 40px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__trash-icon {
    position: absolute;
    right: 10px;
    top: 42px;
    font-size: $font-size_l;
    color: $sub-color;
    //color: #ccc;
    @include mq() {
      top: 35px;
    }
    @include mq('tab') {
      top: 40px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__sort {
    margin-bottom: $space_xl;
    @include mq() {
      margin-bottom: $space_m;
    }
  }
  &__select {
    width: 100%;
  }
  &__title {
    display: block;
    font-weight: bold;
    font-size: $font-size_l;
    text-align: left;
    margin-bottom: $space_s;
    @include mq() {
      font-size: $font-size_m;
    }
    @include mq('tab') {
      font-size: initial;
    }
  }
  &__card-container {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: initial;
    }
  }
  &__card {
    height: 85px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: $space_xl;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq() {
      margin-bottom: $space_m;
    }
    @include mq('tab') {
      height: 115px;
    }
  }
  &__img {
    display: block;
    width: 40%;
    height: 100%;
    @include mq() {
      width: 125px;
      margin: 0 auto;
    }
    @include mq('tab') {
      width: 45%;
      height: 65px;
    }
  }
  &__right {
    width: 60%;
    height: 100%;
    padding: $space_s;
    @include mq() {

    }
    @include mq('tab') {
      width: 55%;
    }
  }
  &__card-title {
    font-size: $font-size_s;
    font-weight: bold;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1; //1行に丸める
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq('tab') {
      display: block;
    }
  }
  &__name {
    font-size: $font-size_s;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1; //1行に丸める
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__br {
    @include mq() {
      display: none;
    }
  }
  &__icon {
    width: 25px;
    height: 25px;
    margin-right: $space_s;
  }
  &__price {
    font-weight: bold;
  }
  &__expire {
    &__date {
      font-weight: bold;
      font-size: 20px;
      @include mq() {
        font-size: $font-size_m;
      }
    }
  }
  &__input {
    width: 100%;
    height: 36px;
    &::placeholder {
      color: $sub-color;
    }
    @include mq() {
      //margin-right: $space_m;
      //margin-left: $space_m;
    }
  }
}
