.p-top {
  @include mq() {
    width: 100%;
  }
  @include mq('tab') {
    width: 100%;
  }
  &__bg {
    background: $sub-color;
    &--alter {
      background: $bg-color;
    }
  }
  &__section {
    width: 800px;
    margin: 0 auto;
    padding: $space_2xl 0;
    font-size: $font-size_l;
    @include mq() {
      width: 100%;
      padding: $space_xl $space_m;
    }
    @include mq('tab') {
      width: 95%;
      padding: $space_2xl $space_l;
    }
    &__hero {
      min-height: 100vh;
      position: relative;
      z-index: 2;
    }
  }
  &__title {
    font-size: $font-size_2xl;
    font-weight: bold;
    margin-bottom: $space_xl;
    @include mq() {
      font-size: $font-size_l;
    }
    @include mq('tab') {
      font-size: $font-size_xl;
    }
  }
  &__thinkImg {
    position: absolute;
    width: 150px;
    height: 150px;
    @include mq() {
      width: 100px;
      height: 100px;
    }
    @include mq('tab') {
      width: 120px;
      height: 120px;
    }
    &__user {
      top: 120px;
      right: 0;
      @include mq() {
        top: 110px;
        right: 10px;
      }
      @include mq('tab') {
        top: 130px;
        right: 30px;
      }
    }
    &__shop {
      top: 320px;
      left: 0;
      @include mq() {
        top: 235px;
        left: 10px;
      }
      @include mq('tab') {
        top: 285px;
        left: 30px;
      }
    }
  }
  &__think {
    position: relative;
    font-size: $font-size_xl;
    width: 70%;
    background: $white;
    padding: $space_xl;
    border-radius: 30px;
    @include mq() {
      width: 65%;
      font-size: $font-size_l;
      padding: $space_s $space_m $space_s $space_xl;
      border-radius: 20px;
    }
    @include mq('tab') {
      font-size: $font-size_l;
    }
    &__user {
      margin: 60px auto 80px 0;
      @include mq() {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      @include mq('tab') {
        margin-top: 30px;
        margin-bottom: 60px;
      }
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -15px;
        border: 15px solid transparent;
        border-left: 15px solid $white;
      }
    }
    &__shop {
      margin-left: auto;
      margin-bottom: 80px;
      @include mq() {
        margin-bottom: 30px;
      }
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -29px;
        margin-top: -15px;
        border: 15px solid transparent;
        border-right: 15px solid $white;
      }
    }
    &__result {
      font-weight: bold;
    }
  }
  &__ornament {
    position: absolute;
    top: -20px;
    left: -35px;
    text-align: center;
    z-index: 2;
    font-size: $font-size_m;
    background: $main-color;
    color: $white;
    padding: $space_s $space_m;
    font-weight: bold;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    @include mq() {
      left: 20px;
    }
    @include mq('tab') {
      left: -20px;
    }
    &__step {
      left: 60px;
      @include mq() {
        left: 20px;
      }
    }
  }
  &__meritImg {
    width: 100%;
    height: 190px;
    @include mq() {
      display: block;
      width: 130px;
      margin: 0 auto;
      height: 130px;
    }
  }
  &__text {
    margin-bottom: $space_3xl;
    @include mq() {
      font-size: $font-size_m;
      margin-bottom: $space_xl;
    }
    &:last-child {
      margin-bottom: initial;
    }
  }
  &__note {
    font-size: $font-size_s;
    @include mq() {
      font-size: $font-size_xs;
    }
  }
  &__price {
    font-size: 50px;
    font-weight: bold;
    border-bottom: 5px solid $main-color;
    padding-right: 8px;
    padding-left: 8px;
    @include mq() {
      font-size: $font-size_2xl;
      border-bottom: 3px solid $main-color;
      padding-right: initial;
      padding-left: initial;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include mq() {
      display: block;
    }
    &__2line {
      margin-top: 30px;
      margin-bottom: 80px;
    }
    &__step {
      justify-content: center;
      margin-left: -60px;
      @include mq() {
        margin-left: initial;
      }
    }
  }
  &__panel {
    width: 33.3%;
    height: 300px;
    margin-right: $space_xl;
    padding: $space_3xl $space_m;
    @include mq() {
      width: 70%;
      height: 210px;
      margin: 0 auto;
      margin-bottom: $space_xl;
      padding: $space_xl $space_m;
    }
    @include mq('tab') {
      margin-right: $space_l;
    }
    &:last-child {
      margin-right: initial;
      @include mq() {
        margin-right: auto;
      }
    }
    &__step {
      background: $white;
      width: 20%;
      height: 160px;
      text-align: center;
      font-size: $font-size_l;
      font-weight: bold;
      padding: $space_m 0;
      position: relative;
      margin-right: 60px;
      margin-bottom: $space_2xl;
      @include mq() {
        width: 250px;
        height: 85px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: $space_3xl;
        padding-top: 0;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -120px;
        border-left: 60px solid $white;
        border-top: 80px solid transparent;
        border-right: 60px solid transparent;
        border-bottom: 80px solid transparent;
        @include mq() {
          width: 100%;
          top: 85px;
          left: 0;
          border-left: 125px solid transparent;
          border-top: 30px solid $white;
          border-right: 125px solid transparent;
          border-bottom: 30px solid transparent;
        }
      }
    }
    &__title {
      text-align: center;
      font-weight: bold;
      font-size: $font-size_l;
      @include mq() {
        font-size: $font-size_default;
      }
      @include mq('tab') {
        font-size: $font-size_default;
      }
    }
    &__image {
      width: 100%;
      height: 50%;
    }
  }
  &__step {
    color: $main-color;
    margin-bottom: $space_xl;
    font-size: $font-size_m;
    @include mq() {
      margin-bottom: $space_s;
    }
    &-number {
      font-size: $font-size_2xl;
    }
    &-title {
      text-align: center;
      font-weight: bold;
      font-size: $font-size_l;
      @include mq() {
        font-size: $font-size_m;
      }
      @include mq('tab') {
        font-size: $font-size_default;
      }
    }
  }
  &__review {
    margin-right: $space_xl;
    @include mq() {
      width: 70%;
      margin: 0 auto $space_xl;
    }
    &:last-child {
      margin-right: initial;
      @include mq() {
        margin-right: auto;
      }
    }
  }
  &__recommend {
    display: flex;
    align-items: center;
    background: $white;
    padding: $space_m;
    box-shadow: 0 20px 25px -10px $shadow-color;
    width: 100%;
    height: 150px;
    margin-bottom: $space_xl;
    &__img {
      width: 130px;
      height: 100%;
      margin-right: $space_2xl;
      @include mq() {
        width: 100px;
        height: 100px;
        margin-right: $space_m;
      }
    }
    &__text {
      font-weight: bold;
      font-size: $font-size_xl;
      @include mq() {
        font-size: $font-size_m;
      }
    }
  }
  &__btn {
    width: 240px;
    padding: $space_xl;
    height: 70px;
    font-size: $font-size_l;
    margin: 60px auto 0;
    box-shadow: 0 2px 0 #b64803;
    @include mq() {
      width: 100%;
      padding: $space_m;
      height: 50px;
      margin-top: $space_3xl;
    }
  }
  &__br {
    @include mq() {
      display: none;
    }
    &__think {
      display: none;
      @include mq() {
        display: initial;
      }
    }
  }
  &__goTop {
    border: 1px solid $white;
  }
}
