.l-main {
  width: $site-width;
  margin: 50px auto 0;
  display: flex;
  @include mq() {
    width: 100%;
    margin-top: $space_xl;
    display: block;
  }
  @include mq('tab') {
    width: 100%;
    margin: 30px auto 0;
    padding-right: $space_l;
    padding-left: $space_l;
  }
}
.l-main__2column {
  width: 70%;
  padding-right: $space_xl;
  @include mq() {
    width: 100%;
    padding-right: 0;
  }
  @include mq('tab') {
    padding-right: 0;
  }
}
