.u-mr5 {
  margin-right: 5px;
}
.u-mr10 {
  margin-right: 10px;
}
.u-mr20 {
  margin-right: 20px;
}
.u-ml15 {
  margin-left: 15px;
}
.u-mb5 {
  margin-bottom: 5px;
}
.u-mb10 {
  margin-bottom: 10px;
}
.u-mb20 {
  margin-bottom: 20px;
}
.u-mb30 {
  margin-bottom: 30px;
}
.u-mt0 {
  margin-top: 0;
}
.u-mt24 {
  margin-top: 24px;
}
.u-mt30 {
  margin-top: 30px;
}
.u-my24 {
  margin: 24px 0;
}
.u-m0 {
  margin: 0;
}
